@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;500;700;800&display=swap');


*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    font-family: 'Mukta', sans-serif;
}


.cabeçalho {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.cabeçalho h1 {
    font-weight: 800;
    font-size: 2.5rem;
}

.container {
    background-color: #FFFFFF;
    box-shadow: 0px 10px 40px #949494;
    width: 500px;
    border-radius: 10px;
    padding: 30px;
    margin: 100px auto 0;
}

.formulario {
    display: block;
    justify-content:center;
    align-items:center;
}

.renda {
    font-size: 1rem;
    font-weight: 500;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: none;
    color: #000000;
    background-color: #f0f0f0;
}

.subtitle {
    font-size: 1.2rem;
    justify-content: center;
}

.btn-calcular {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 100%;
    background-color: #67EACA;
    color: #FFFFFF;
    font-size: 17px;
    padding: 0 15px;
    cursor: pointer;
    font-weight: 700;
}

.btn-calcular:hover {
    opacity: .8;
}

#footer {
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    background-color: #f0f0f0;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .7rem;
}

.use-modal {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btnOpenModal {
    font-size: 17px;
    font-weight: 700;
    padding: 0 15px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #67EACA;
    color: #FFFFFF;
    cursor: pointer;
}

hr {
    border: 0px;
    border-top: 1px solid lightgray;
}

.modal-container {
    display: none;
    width: 100vw;
    position: fixed;
    top: 30px;
    z-index: 999;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 40px #949494;
}

.modal {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 50%;
}

.active {
    display: flex;
}

.active .modal {
    animation: modal .4s;
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

span {
    margin: 10px auto;
}

.btns {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.btns button {
    font-size: medium;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
}

.btnOK {
    background-color: blue !important;
}

.btnClose {
    background-color: brown !important;
}

@media (max-width: 500px) {
    .modal {
        padding: 10px;
        width: 80%;
    }
    span, .btns button {
        font-size: smaller;
    }
}






